body{
	background-color: #f2f2f2;
  	font-size: 13px;
}

main{
  margin-top: 5px;
  margin-right: 50px;
}

nav{ 
  background-color: #2196f3;
  padding-right:  100px;
  padding-left: 50px;
}

/* sidenav */
.side-nav {

  margin-top: 25px;

  .divider { margin: 8px 0; }

  .active {
    background-color: rgba(0,0,0,0.05);
    a { color: #212121; font-weight: 500; }
  }

  .subheader { 
    line-height: 24px;
    height: 32px;
    margin: 0;
    padding: 4px 16px;
    color: #616161;
    font-weight: normal;
    font-size: 13px;
  }
}
  
@media only screen and (min-width: 993px) {
  .side-nav {
    width: 250px;
    top: 66px;
    padding: 12px 8px !important;
    height: calc(100% - 56px);

    li > a,
    li > a > i.material-icons {
      height: 40px;
      line-height: 40px;
    }
    
    li > a > i.material-icons { margin-right: 24px; }
    
    li > a {
      padding: 0 16px;
      font-weight: normal;
      font-size: 13px;
      color: #616161;
    }

    li > a:hover { border-radius: 2px; }
  }
}

.btn-spacing{
	margin-top: 20px;
}
.btn-spacing2{
  margin-top: 75px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 20%;
  width: 90%;
}

@import "compass/css3";

.progress {
  width: 100%;
  height: 10px;
}
.progress-wrap {
  background: #00c853;
  margin: 50px 0;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}




